@charset "UTF-8";
.bg-header {
  width: 100%;
  height: 840px;
  position: relative;
  background-image: url(./assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .bg-header {
    background-image: url(../images/banner-sm.png);
  }
}
@media (max-width: 375px) {
  .bg-header {
    height: 394px;
  }
}
.bg-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*看得清才看得遠 設定結束*/
/*用專業的心做專業的事 設定開始*/
.bg-main {
  background-color: #AA06010D;
}

.main-feature {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

@media (max-width: 768px) {
  .main-feature {
    flex-wrap: wrap;
  }
}
@media (max-width: 568px) {
  .main-feature {
    align-items: center;
    padding: 0 50px;
  }
}
.feature-list {
  width: 23%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .feature-list {
    width: 22%;
  }
}
@media (max-width: 768px) {
  .feature-list {
    width: 43%;
    padding-bottom: 78px;
  }
}
@media (max-width: 568px) {
  .feature-list {
    width: 100%;
  }
}
.feature-list img {
  width: 50%;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .feature-list img {
    padding-bottom: 19px;
  }
}
@media (max-width: 568px) {
  .feature-list img {
    width: 30%;
  }
}
@media (max-width: 375px) {
  .feature-list img {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .main-feature .h4 {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .main-feature .h4 {
    font-size: 20px;
  }
}
/*用專業的心做專業的事 設定結束*/
/*經典系列鏡框 設定開始*/
.main-style-list {
  display: flex;
  flex-direction: column;
}

.items-link {
  position: relative;
  display: flex;
  text-decoration: none;
}

@media (max-width: 768px) {
  .style-items {
    padding-bottom: 8px;
  }

  .items-link {
    flex-direction: row;
  }
}
.style-pic {
  width: 62%;
  max-width: 635px;
}

@media (max-width: 992px) {
  .style-pic {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .style-pic {
    margin-left: 0px;
    margin-right: 30px;
  }
}
@media (max-width: 568px) {
  .style-pic {
    position: relative;
    width: 100%;
  }
}
.items-title-pc {
  width: 38%;
  display: flex;
  align-items: center;
  font-style: italic;
}

.items-title-mobile {
  display: none;
  position: relative;
}

@media (max-width: 992px) {
  .items-title-pc {
    font-size: 33px;
  }
}
@media (max-width: 768px) {
  .items-title-pc {
    font-size: 28px;
  }
}
@media (max-width: 568px) {
  .items-title-pc {
    display: none;
  }

  .items-title-mobile {
    position: absolute;
    display: flex;
    top: 40%;
    left: 20%;
  }
}
/*經典系列鏡框 設定結束*/
/*聯名設計鏡框 設定開始*/
.bg-branding {
  width: 100%;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.branding-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 568px) {
  .branding-list {
    flex-wrap: wrap;
  }
}
.branding-list-items {
  position: relative;
  width: 47%;
  display: flex;
  margin: 0 15px;
}

@media (max-width: 568px) {
  .branding-list-items {
    width: 100%;
    margin: 16px 0;
  }
}
.items-transparent::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.items-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .items-text {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .branding-list-A {
    width: 49%;
    height: 280px;
  }

  .branding-list-Y {
    width: 49%;
    height: 280px;
  }

  .items-text {
    font-size: 32px;
  }
}
@media (max-width: 568px) {
  .items-text {
    font-size: 40px;
  }
}
/*聯名設計鏡框 設定結束*/
/*顧客推薦 設定開始*/
.recommend-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .recommend-list {
    flex-wrap: wrap;
  }
}
@media (max-width: 568px) {
  .recommend-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.recommend-items {
  width: 23%;
}

@media (max-width: 768px) {
  .recommend-items {
    width: 48%;
  }
}
.recommend-pic {
  width: 100%;
}

.recommend-box {
  padding: 0 16px;
  border-left: 1px #DEE2E6 solid;
  border-bottom: 1px #DEE2E6 solid;
  border-right: 1px #DEE2E6 solid;
}

.recommend-name {
  font-size: 14px;
  text-align: left;
}

.recommend-updated {
  color: #707070;
}

@media (max-width: 768px) {
  .recommend-items {
    padding-bottom: 29px;
  }
}
@media (max-width: 568px) {
  .recommend-items {
    width: 100%;
    padding-bottom: 16px;
  }
}
/*顧客推薦 設定結束*/
/*聯絡我們 設定開始*/
.bg-contact {
  background-color: #AA06010D;
}

.contact-text {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
}

@media (max-width: 768px) {
  .contact-text {
    width: 100%;
    font-size: 16px;
  }
}
.contact-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}
.contact-form .contact-input {
  color: rgba(0, 0, 0, 0.2);
  padding-left: 16px;
  padding-top: 14px;
  background-color: #AA06010D;
  border: #000000 1px solid;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .contact-form .contact-label {
    font-size: 14px;
    padding-bottom: 2px;
  }

  .contact-form .contact-input {
    font-size: 14px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.contact-form textarea {
  border: #000000 1px solid;
}

.contact-check {
  padding-bottom: 42px;
}

.contact-check {
  display: flex;
  align-items: center;
}

.contact-sub {
  display: block;
  width: 35%;
  height: 54px;
  margin: 0 auto;
  background-color: #AA0601;
  border: 0px;
}

@media (max-width: 768px) {
  .contact-check {
    font-size: 14px;
  }

  .contact-form textarea {
    height: 100px;
  }

  .contact-sub {
    width: 50%;
    height: 36px;
  }

  .contact-check {
    align-items: flex-start;
  }
}
@media (max-width: 375px) {
  .contact-sub {
    width: 40%;
  }
}
/*聯絡我們 設定結束*/