.connodity {
  width: 25%;
}

.color-box-brow {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #5F3E2D;
}

.color-box-orange {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #B75929;
}