.page {
  justify-content: center;
  margin-bottom: 156px;
}
.page .btn-page {
  border: 1px solid #555555;
}
.page .btn-page a {
  color: #555555;
  font-size: 19px;
  padding: 10px 12px;
}
.page .btn-page a:hover {
  background-color: #F2F2F2;
  transition: 0.5s;
}
.page .btn-page-number {
  border: 1px solid #555555;
}
.page .btn-page-number a {
  font-size: 18px;
  padding: 10px 14px;
  color: #555555;
}
.page .btn-page-number a:hover {
  color: #ffffff;
  background-color: #000000;
}