.blog_hashtag {
    a {
        @include desk992 {
            font-size: 18px;
        }
        @include pad {
            font-size: 16px;
        }
        &:hover {
            color: $color-primary;
        }
    }    
}
.blog_page {
    margin-bottom: 304px;
    @include desk992 {
        position: relative;
        margin-bottom: 104px;
    }
    @include iphone {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 56px;
    }
}
.blog_content {
    width: 75%;
    margin-right: 30px;
    @include desk992 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    @include iphone {
        width: 100%;
        margin-right: 0;
    }
    img {
        padding-bottom: 24px;
        @include desk992 {
            padding-bottom: 16px;
        }
    }
    p {
        opacity: 0.6;
        padding-bottom: 36px;
        @include desk992 {
            padding-bottom: 24px;
        }
    }
    a {
        &:hover {
            color: $color-primary;
        }
        @include desk992 {
            font-size: 20px;
        }
    }
}
.share-icon {
    @include desk992 {
        padding-bottom: 64px;
    }
}
.post_control {
        padding-top: 24px;
        border-top: 1px solid #000000;
        h5 {
            &:hover {
                color: $color-primary;
            }
        }
        @include desk992 {
            width: 100%;
            position: absolute;
        }
        @include iphone {
            display: flex;
            flex-direction: column;
            position: relative;
        }
}
.blog_tags {
        width: 25%;
        @include iphone {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
