.qa_title {
    margin-top: 80px;
    margin-bottom: 36px;
    @include pad {
        margin-top: 40px;
    }
    @include iphone {
        margin-top: 24px;
        margin-bottom: 12px;   
    }
}
.qa_text {
    margin-bottom: 304px;
    @include pad {
        margin-bottom: 104px;
    }
    @include iphone {
        margin-bottom: 56px;
    }
    li {
        margin-bottom: 40px;
        @include iphone {
            margin-bottom: 20px;
        }
    }
    h4 {
        @include iphone {
            font-size: 16px;
            padding-bottom: 8px;
        }
    }
    p {
        width: 82%;
        margin: 0 auto;
        @include iphone {
            width: 100%;
            font-size: 14px;
        }
    }
}