.product-title {
    h2 {
        font-size: 42px;
        @include pad {
            font-size: 32px;
        }
        @include iphone {
            font-size: 20px;
        }
    }
    h3 {
        @include pad {
            font-size: 24px;
        }
        @include iphone {
            font-size: 16px;
        }
    }
}
.product-banner {
    width: 100%;
    li{
        width: 50%;
        height: 309px;
        &:nth-child(odd) {
            background-image: url(../images/banner-3.png);
            margin-right: 15px;
            @include desk992 {
                margin-right: 0px;
            }
        }
        &:nth-child(even) {
            background-image: url(../images/product-2-color.png);
            margin-left: 15px;
            @include desk992 {
                margin-left: 0px;
            }
        }
    }
}