.location-banner {
    height: 304px;
    background-image: url(../images/qa.png);
    align-content: flex-end;
    img {
        margin-left: 24px;
    }
    @include pad {
        h1 {
            font-size: 48px;
        }
    }
    @include iphone {
        h1 {
            font-size: 28px;
        }
    }
}